@import "../packages/bootstrap-4.2.1/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$mainBorder: 1px solid #e6e6e6;
$mainFont: Lato, sans-serif;

body {
    margin:0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
header {
    height: 100px;
    border: 1px solid #ececec;
    background-color:  #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    @include media-breakpoint-down(md) {
        height: 200px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        border: none;
        padding-right: 73px;
        align-items: center;
    }
}
.headerInfo {
    height: inherit;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding-left: 420px;
    }
    @include media-breakpoint-down(xs) {
        flex-direction: column;
        padding-right: 620px;
    }
    .logo {
        line-height: 50px;
        height: 51px;
        width: 95px;
        background: url(../images/logo.png) no-repeat;
        background-size: contain;
        padding-left: 73px;
        font-family: $mainFont;
        font-weight: 300;
        font-size: 27px;
        @include media-breakpoint-down(sm) {
            margin: 20px;
        }
        span {
            color:  #f16d7f;
            font-size: 27px;
            font-weight: 900;
            line-height: 32px;
        }
    }
    .headerSearch {
        width: 400px;
        display: flex;
        height: 38px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        border: $mainBorder;
        background-color:  #ffffff;
        margin-left: 97px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        .headerBrowse {
            padding: 10px;
            border-right: $mainBorder;
            color:  #222222;
            font-size: 14px;
            font-weight: 300;
        }
        input {
            border: none;
            padding: 0 4px;
            flex-grow: 1;
        }
        button {
            width: 36px;
            border: none;
            border-left: $mainBorder;
            background: white;
        }
        & > i {
            color: #a4a4a4;
        }
    }
    .headerBacket {
        margin-left: auto;
        margin-right: 26px;
        @include media-breakpoint-down(sm) {
                display: none;
        }
    }
    .accountButton {
        background-color:  #f16d7f;
        padding: 13px 19px;
        border: none;
        color:  #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        @include media-breakpoint-down(sm) {
            margin-left: 90px;
            margin-bottom: 20px;
        }
    }
}
.navigator {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    box-sizing: border-box;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
    }
    a {
        text-decoration: none;
        font-family: $mainFont;
        color:  #222222;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        border-bottom: 3px solid #ef5b70;
    }
    a:hover {
        color: #ec4a4a;
        }
}
.breadcrumb {
    height: 148px;
    background-color:  #f8f3f4;
    @include media-breakpoint-down(sm) {
        margin-top: 120px;
        margin-left: 450px;
        background-color: white;
    }
    .breadcrumbLeft {
        float: left;
        font-family: $mainFont;
        color:  #f16d7f;
        font-size: 24px;
        font-weight: 900;
        line-height: 20px;
        padding-top: 65px;    
    }
    .breadcrumbRight {
        float: right;
        font-family: $mainFont;
        color:  #636363;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        box-sizing: border-box;
        justify-content: space-between;
        padding-top: 69px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .breadcrumbRightDecor {
            font-family: $mainFont;
            color:  #f16d7f;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
        }
    }
}
.productMenu {
    flex-wrap: nowrap;
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .productMenu1 {
        height: 37px;
        width: 243px;
        font-family: $mainFont;
        color:  #ef5b70;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        display: flex;
        margin-top: 49px;
        .productMenu1Line {
            background-color:  #ef5b70;
            width: 5px;
            height: 37px;
        }
        .productMenu1Text {
            padding-top: 9px;
            padding-left: 11px;
            i {
                margin-left: 101px;    
            }
        } 
    }   
    .productMenuLine {
            border: 1px solid #ebebeb;
            box-sizing: border-box;
            background-color:  #ef5b70;
            width: 243px;
            height: 1px;
    }
    .productMenu2 {
        display: block;
        font-family: $mainFont;
        color:  #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 33px;
        margin-left: 22px;
    }
    .productMenu3 {
        @extend .productMenu1;
        color:  #6f6e6e;
    }
    .productMenu4 {
        @extend .productMenu1;
        color:  #6f6e6e;
    }
}
.productType {
    margin-top: 49px;
    @include media-breakpoint-down(md) {
       margin-left: 450px;
    }
    .productType1 {
        font-family: $mainFont;
        color:  #6f6e6e;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        .productType1Form { 
            font-family: $mainFont;
            color:  #6f6e6e;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
        }
    }
    .productType2 {
        @extend .productType1;
        .productType2Form {
            @extend .productType1Form;
            display: flex;
            .form-check {
                margin-left: 10px;
            }
        }
    }
    .productType3 {
        @extend .productType1;
    }
}
.product {
    margin-top: 49px;
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h5 {
        font-family: $mainFont;
        color:  #6f6e6e;
        font-size: 13px;
        font-weight: 400;
        margin-left: 15px;
        margin-top: 19px;
    }
    p {
        font-family: $mainFont;
        color:  #f16d7f;
        font-size: 16px;
        font-weight: 700;  
        margin-left: 15px;
    }
}
.productMenuDown {
    height: 44px;
    width: 1000px;
    margin-left: 289px;
    .productMenuDownScroll {
        margin-top: 54px; 
        display: flex;
        .productMenuDownButton {
            margin-left: 450px;
            @include media-breakpoint-down(lg) {
                display: none;
            }
            button {
                background-color: white;
                color: #f16d7f;     
            }
        }
    }
}
.featureBox {
    background-color: #222224;
    height: 341px;
    margin-top: 180px;
    @include media-breakpoint-down(lg) {
        display: none;
    }
    .container {
        .featureBox1 {
            img {
                margin-left: 150px;
                margin-top: 89px;
            }
            h3 {
                font-family: $mainFont;
                color:  #fbfbfb;
                font-size: 19.96px;
                font-weight: 700;
                text-align: center;
                transform: scaleX(1.0017);
                margin-top: 32px;
            }
            p {
                font-family: $mainFont;
                color:  #fbfbfb;
                font-size: 13.97px;
                font-weight: 300;
                line-height: 24px;
                text-align: center;
                transform: scaleX(1.0017);
                margin-top: 17px;
            }
        }
    }
}
.subscribeWrap {
    height: 438px;
    background: url(../images/subscribe.jpg) no-repeat center bottom, #ccc;
    background-blend-mode: overlay;
    background-size: cover;
    @include media-breakpoint-down(lg) {
        margin-top: 100px;
        background: none;
    }
    .subscribe {
        display: flex;
        height: inherit;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .reviews {
            width: calc(100% - 1px);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 50px;
            .reviewUnit {
                width: 500px;
                display: flex;
                justify-content: space-between;
                .reviewUnitLeft {
                    width: 83px;
                }
                .reviewUnitRight {
                    width: 386px;
                    blockquote {
                        margin: 0;
                        font-size: 16px;
                        font-style: italic;
                        line-height: 26px;
                        font-weight: 700;
                    }
                    .reviewName {
                        margin-top: 20px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #f16d7f;
                    }
                    .reviewFrom {
                        color: #222224;
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .reviewsSwitch {
                        width: 140px;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                        div {
                            width: 38px;
                            height: 4px;
                            background-color: #d6d6d6;
                            &:hover {
                                background-color: #f16d7f;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .subscribeDivider {
            width: 1px;
            background: #e3e3e3;
        }
        .subscribeRight {
            width: calc(100% - 1px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .subscribeRightHead {
                font-size: 24px;
                text-transform: uppercase;
                color: #222224;
            }
            .subscribeRightText {
                margin: 10px 0 35px;
            }
            .subscribeForm {
                height: 46px;
                input {
                    height: inherit;
                    width: 334px;
                    border: none;
                    outline: none;
                    padding: 0 28px;
                    font-weight: 700;
                    background-color: #e1e1e1;
                    border-top-left-radius: 23px;
                    border-bottom-left-radius: 23px;
                    float: left;
                }
                button {
                    background-color: #f16d7f;
                    border-top-right-radius: 23px;
                    border-bottom-right-radius: 23px;
                    color: white;
                    border: none;
                    height: inherit;
                    padding: 0 20px;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
}
footer {
    margin-top: 100px !important;
    justify-content: space-between;
    display: flex;
    @include media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .footerLogo {
        font-family: $mainFont;
        width: 427px;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        color: #898989;
        .logo {
            line-height: 50px;
            height: 51px;
            width: 95px;
            background: url(../images/logo.png) no-repeat;
            background-size: contain;
            padding-left: 73px;
            font-family: Lato, sans-serif;
            font-weight: 300;
            font-size: 27px;
            & > span {
                color:  #f16d7f;
                font-size: 27px;
                font-weight: 900;
                line-height: 32px;
            }
        }
        .footerText1 {
            margin: 30px 0;
        }
    }
    .footerRight {
        padding-top: 30px;
        h2 {
            margin: 0 0 30px;
            font-size: 18px;
            font-weight: 700;
            color: #f16d7f;
        }
        a {
            display: block;
            color: #898989;
            font-size: 16px;
            text-decoration: none;
            margin-bottom: 25px;
            &:hover {
                color: #f16d7f;
            }
        }
    }
}
.copyrights {
    height: 80px;
    background: #e6e6e6;
    @include media-breakpoint-down(lg) {
        background: none;
    }
    .copyrightsTop {
        margin-top: 100px;
        color: #7a7a7a;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(sm) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .copyrightsSocial {
            display: flex;
            width: 200px;
            justify-content: space-between;
            a {
                text-decoration: none;
                color: inherit;
                i {
                    width: 32px;
                    height: 32px;
                    background: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}